<%= form_for(@user, html: { class: "custom"}) do |f| %>
   <div class="row">
     <div class="small-2 columns">
       <%= f.label :name, class: "right inline"%>
     </div>
     <div class="small-10 columns">
       <%= f.text_field :name %>
     </div> 
   </div>
   <div class="row">
     <div class="small-2 columns">
       <%= f.label :password, class: "right inline"%>
     </div>
     <div class="small-10 columns">
       <%= f.password_field :password %>
     </div> 
   </div>
   <div class="row">
     <div class="small-2 columns">
       <%= f.label :email, class: "right inline"%>
     </div>
     <div class="small-10 columns">
       <%= f.text_field :email %>
     </div> 
   </div>
   <div class="row">
     <div class="small-10 small-offset-2 columns">
       <%= f.submit 'Submit', :class => 'button small' %>
     </div>
   </div>
<% end %>