<div class='alert alert-info fade in' data-alert='alert'>
   <h3>Login</h3>
</div>

<%= simple_form_for @client,  html: { class: 'form-horizontal' } do |f| %>
   <%= f.input :name, label: "Name" %>
   <%= f.input :redirect_uri, label: "Re-Direct URL"%>
   <%= f.input :post_logout_redirect_uri, label: "Logout Redirect" %>   
   <%= f.button :submit, "Submit" %>
<% end %>