<%= form_for(@client, html: { class: "custom"}) do |f| %>
   <div class="row">
     <div class="small-2 columns">
       <%= f.label :name, class: "right inline"%>
     </div>
     <div class="small-10 columns">
       <%= f.text_field :name %>
     </div> 
   </div>
   <div class="row">
     <div class="small-2 columns">
       <%= f.label :redirect_uri, class: "right inline"%>
     </div>
     <div class="small-10 columns">
       <%= f.text_field :redirect_uri %>
     </div> 
   </div>
   <div class="row">
     <div class="small-2 columns">
       <%= f.label :logout_redirect_uri, class: "right inline"%>
     </div>
     <div class="small-10 columns">
       <%= f.text_field :post_logout_redirect_uri %>
     </div> 
   </div>
   <div class="row">
     <div class="small-10 small-offset-2 columns">
       <%= f.submit 'Submit', :class => 'button small' %>
     </div>
   </div>
<% end %>